body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3a2b2f;
    color: #333;
}
header {
    text-align: center;
    padding: 30px;
    background-color: #c4c5c9;
}
header h1 {
    margin-bottom: 10px;
    font-weight: bold;
    color:#070707;
}
main {
    max-width: 500px;
    margin: 30px auto;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}
input,
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
textarea {
    min-height: 100px;
}
button {
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #12500b;
    font-weight: bold;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.aviso {
    min-height: 20px;
    margin-top: 15px;
    font-weight: bold;
}
.error {
    color: red;
}
.exito {
    color: green;
}
footer {
    text-align: center;
    padding: 20px;
    color:#f7f7f8;
}
